{% extends 'layouts/default/base.html' %}

{% load bootstrap5 %}
{% load i18n %}

{% block accounts %}
<section class="contact">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
          </header>
        </div>

<div class="container-fluid mt-3">
      <div class="container php-email-form">
        <h4>{% trans 'Restore password' %}</h4>

        <form class=".col-md-*" method="post">
          <div class="form-group row gy-4">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'Next' %}</button>
          </div>
    </form>

    <hr>

    <ul>
        <li>
            <a href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a>
        </li>
    </ul>
      </div>
</div>
</section>
{% endblock %}
