/* CSS styles for the table */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
}
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 12px;
    font-weight: bold;
}
td {
    padding: 12px;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
img {
    max-width: 500px;
    max-height: 300px;
}
.success-color {
    background-color: green !important;
}
/* button {
    padding: 6px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
} */
/* 
button:hover {
    background-color: #45a049;
} */